.DS_Store
*.pyc
files/
.vagrant/
*.map
.env

# Node
node_modules/
package-lock.json

# SASS
.sass-cache

# CSS
calchart/static/css/**/*.css
!calchart/static/css/vendor/**/*.css
!calchart/static/css/fonts/**/*.css

# JS
calchart/static/js/*.js
