.DS_Store
*.pyc
node_modules/
files/
.vagrant/
*.map

# SASS
.sass-cache

# CSS
calchart/static/css/**/*.css
!calchart/static/css/vendor/**/*.css
!calchart/static/css/fonts/**/*.css

# JS
calchart/static/js/
