@font-face {
    font-family: "DIN Next";
    src: url("../css/fonts/DINNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: "DIN Next";
    src: url("../css/fonts/DINNextLTPro-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "DIN Next";
    src: url("../css/fonts/DINNextLTPro-Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "DIN Next";
    src: url("../css/fonts/DINNextLTPro-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "DIN Next Medium";
    src: url("../css/fonts/DINNextLTPro-Medium.otf") format("opentype");
}

/**
 * Add a series of sans-serif fonts as backups for the given font. Usage:
 *      font-family: sans-serif("DIN Next");
 *    Outputs: font-family: "DIN Next", Helvetica, Arial, sans-serif
 */
@function sans-serif($font-families...) {
    @return $font-families, Helvetica, Arial, sans-serif;
}
