@font-face {
    font-family: "DIN Next";
    src: url("../css/fonts/DINNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: "DIN Next";
    src: url("../css/fonts/DINNextLTPro-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "DIN Next";
    src: url("../css/fonts/DINNextLTPro-Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "DIN Next";
    src: url("../css/fonts/DINNextLTPro-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "DIN Next Medium";
    src: url("../css/fonts/DINNextLTPro-Medium.otf") format("opentype");
}
