// z-index layers: https://www.sitepoint.com/using-sass-maps/#project-configuration
$z-layers: (
    toolbar: 100,
    menu: 200,
    panel: 250,
    popup: 300,
    messages: 400,
    context-menu: 500,
    tooltip: 600,
);

@function z-index($key) {
    @if map-has-key($z-layers, $key) {
        @return map-get($z-layers, $key);
    }

    @warn "Unknown `#{$key} in $z-layers.";
    @return null;
}

/**
 * Add a series of sans-serif fonts as backups for the given font. Usage:
 *      font-family: sans-serif("DIN Next");
 *    Outputs: font-family: "DIN Next", Helvetica, Arial, sans-serif
 */
@function sans-serif($font-families...) {
    @return $font-families, Helvetica, Arial, sans-serif;
}
