@import "vars", "fonts";

// create a nice visual button
@mixin display-button($primary-color: $blue) {
    $secondary-color: #fff;

    margin: 5px 10px;
    padding: 0.75em 2.5em 0.65em;
    line-height: 1em;
    font-family: sans-serif("DIN Next");
    font-size: inherit;
    text-transform: uppercase;
    cursor: pointer;
    background: $primary-color;
    color: $secondary-color;
    border: 0;
    outline: 0;
    &:hover {
        background: lighten($primary-color, 5);
    }
}

// create a menu that shows near the user's mouse
@mixin hover-menu {
    position: absolute;
    padding: 5px 0;
    z-index: z-index(popup);
    background: $light-gray;
    border: 1px solid $medium-gray;
    li {
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
            background: $blue;
            color: $light-gray;
        }
    }
}

// make user unable to highlight text in element
@mixin unselectable {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

// make children vertically centered within the element
@mixin vertically-center($expand: true) {
    // expand to fill entire height
    @if $expand {
        font-size: 0;
        &:before {
            @include unselectable;
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
    > * {
        display: inline-block;
        vertical-align: middle;
    }
}

// Remove the small space between children caused by whitespace
@mixin remove-children-space {
    font-size: 0;
    & > * {
        font-size: $font-size;
    }
}
