$blue: #2E739B;
$gold: #FDB515;
$gray: #757776;
$medium-gray: #edeeee;
$light-gray: #f6f6f6;
$red: #c82020;

$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;

$publish: "\e9ce";
$unpublish: "\e9d1";
$delete: "\ea0f";
$edit: "\e905";
$check: "\ea10";
