// UI colors
$blue: #2E739B;
$gold: #FDB515;
$light-gold: lighten($gold, 35);
$red: #c82020;

$black: #424242;
$dark-gray: #757776;
$medium-gray: #aaa;
$semilight-gray: #edeeee;
$light-gray: #f6f6f6;
$white: #fff;

// graph colors
$field-green: #269C2E;
$uniform-white: #F9FBF6; // scraped from image of uniform front
$uniform-yellow: #FFEA59; // scraped from image of cape
$uniform-blue: #38363B; // scraped from image of uniform side
$highlight-purple: #F19DF5;

$font-size: 16px;

$header-height: 50px;
