$blue: #2E739B;
$gold: #FDB515;
$black: #424242;
$dark-gray: #757776;
$medium-gray: #aaa;
$semilight-gray: #edeeee;
$light-gray: #f6f6f6;
$white: #fff;
$red: #c82020;

$font-size: 16px;

$header-height: 50px;
