{% load staticfiles partials %}
<html>
    <head lang="en">
        <meta charset="utf-8">
        <title>Calchart{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
        {% add_style "vendor/reset.css" "vendor/chosen.min.css" "vendor/icons.css" "base.css" %}
        {% add_script "vendor/jquery-3.2.1.min.js" "vendor/lodash.min.js" "vendor/chosen.jquery.min.js" "vendor/d3.min.js" "vendor/jquery-ui.min.js" %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <h1><a href="{% url 'home' %}">Calchart</a></h1>
                <p class="current-user">Hello, {{ request.user.username }} &middot; <a href="{% url 'logout' %}">Logout</a></p>
            </header>
        {% endblock %}
        {% block body %}{% endblock %}
        <!-- CSRF token for AJAX requests -->
        {% csrf_token %}
    </body>
</html>
