{% extends "base.html" %}
{% load partials utils %}

{% block title %}
    - {{ show.name }}
{% endblock %}

{% block head %}
    {% add_style "editor.css" %}
    {% add_script "editor.js" %}
    <script>
        {% if show.viewer %}
            window.show = {{ show.viewer|asjson }};
        {% else %}
            window.showName = "{{ show.name }}";
            window.showSlug = "{{ show.slug }}";
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    <div class="editor-header">
        <h1>{{ show.name }}</h1>
        {% make_menu menu %}
        {% make_menu toolbar %}
    </div>
    <div class="content">
        <div class="sidebar"></div>
        <div class="workspace"></div>
    </div>
    {% for template, name in panels %}
        {% include template with name=name only %}
    {% endfor %}
{% endblock %}
