{% extends "base.html" %}
{% load partials utils %}

{% block title %}
    - {{ show.name }}
{% endblock %}

{% block head %}
    {% add_style "editor.css" %}
    {% add_script "editor.js" %}
    <script>
        {% if show.viewer %}
            window.show = {{ show.viewer|asjson|safe }};
        {% else %}
            window.showName = "{{ show.name }}";
            window.showSlug = "{{ show.slug }}";
            window.showIsBand = {{ show.is_band|asjson }};
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    <div class="editor-header">
        <h1>{{ show.name }}</h1>
        <div class="menu"></div>
        <div class="toolbar"></div>
    </div>
    <div class="content graph-content">
        <div class="sidebar"></div>
        <div class="workspace"></div>
    </div>
    <div class="content music-content">
        <div class="top-panel">
            <div class="song-list"></div>
            <div class="sheet-list"></div>
        </div>
        <div class="workspace">
            TODO: BEATS EDITOR
        </div>
    </div>
{% endblock %}
