{% extends "base.html" %}
{% load partials utils %}

{% block title %}
    - {{ show.name }}
{% endblock %}

{% block head %}
    {% add_style "editor.css" %}
    {% add_script "editor.js" %}
    <script>
        window.show = {{ show.viewer|asjson }};
    </script>
{% endblock %}

{% block toolbar %}
    <h1>{{ show.name }}</h1>
    {% make_menu menu %}
    {% make_panel panel %}
{% endblock %}

{% block content %}
    <div class="sidebar"></div>
    <div class="workspace"></div>
{% endblock %}
