{% extends "base.html" %}
{% load partials %}

{% block title %}
    - Home
{% endblock %}

{% block head %}
    {% add_style "home.css" %}
    {% add_script "home.js" %}
{% endblock %}

{% block body %}
    {% get_feedback %}
    <div class="main-buttons">
        <button class="new-show">New Show</button>
    </div>
    <div class="content">
        <ul class="tabs">
            {% for id, name in tabs %}
                <li class="{% if forloop.first %}active{% endif %}" data-name="{{ id }}">{{ name }}</li>
            {% endfor %}
        </ul>
        <ul class="shows {{ active_tab }}">
            {% for show in shows %}
                <li data-slug="{{ show.slug }}">{{ show.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
