{% extends "base_public.html" %}
{% load partials %}

{% block head2 %}
    {% add_style "login.css" %}
{% endblock %}

{% block content2 %}
    {% get_feedback form %}
    {% create_form form %}
        <div class="buttons">
            <button>Login</button>
        </div>
    {% end_create_form %}
    <div class="login-options">
        <p class="divider">or</p>
        <p><a href="{% url 'login-members-only' %}?next={{ next }}">Sign in with Members Only account</a></p>
        <p><a href="{% url 'create-user' %}">Create a new account</a></p>
    </div>
{% endblock %}
