{% extends "base.html" %}
{% load partials utils %}

{% block title %}
    Calchart Viewer - {{ show.name }}
{% endblock %}

{% block head %}
    {% add_style "viewer.css" %}
    {% add_script "vendor/soundmanager2.min.js" "viewer.js" %}
    <script>
        {% if show.data_file %}
            window.show = {{ show.get_data|asjson|safe }};
        {% else %}
            window.show = null;
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    <div class="content">
        <h1>{{ show.name }}</h1>
        <div class="details">
            <p>Stuntsheet: <span class="sheet">--</span></p>
            <p>Beat: <span class="beat-num">0</span>/<span class="beat-total">0</span></p>
            <p>Dot: <select class="select-dot"><option></option></select></p>
        </div>
        <div class="viewer"></div>
        <div class="buttons">
            <button class="open-viewpsheet">Open Viewpsheet Generator</button>
        </div>
    </div>
{% endblock %}
