{% extends "base.html" %}
{% load partials utils %}

{% block title %}
    Calchart Viewer - {{ show.name }}
{% endblock %}

{% block head %}
    {% add_style "viewer.css" %}
    {% add_script "viewer.js" %}
    <script>
        {% if show.viewer %}
            window.show = {{ show.viewer|asjson|safe }};
        {% else %}
            window.show = null;
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    <div class="content">
        <h1>{{ show.name }}</h1>
        <div class="details">
            <p>Stuntsheet: <span class="sheet">--</span></p>
            <p>Beat: <span class="beat-num">0</span>/<span class="beat-total">0</span></p>
            <p>Dot: <select class="select-dot"><option></option></select></p>
        </div>
        <div class="viewer"></div>
        <div class="seek">
            <span class="bar"></span>
            <span class="marker"></span>
        </div>
        <div class="controls">
            <i class="prev-sheet icon-fast-backward" data-tooltip="Previous Sheet"></i>
            <i class="prev-beat icon-step-backward" data-tooltip="Previous Beat"></i>
            <i class="toggle-play icon-play" data-tooltip="Animate"></i>
            <i class="next-beat icon-step-forward" data-tooltip="Next Beat"></i>
            <i class="next-sheet icon-fast-forward" data-tooltip="Next Sheet"></i>
        </div>
        <div class="buttons">
            <button class="open-viewpsheet">Open Viewpsheet Generator</button>
        </div>
    </div>
{% endblock %}
