/**
 * This file is organized in the following sections:
 *
 * - HTML elements
 * - Menu and toolbar elements
 * - Other UI components
 */

@import "partials/vars", "partials/mixins", "partials/fonts", "partials/functions";

/**** HTML ELEMENTS ****/

html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, ul, li, label, form, input, textarea,
header, footer, td, th {
    position: relative;
    font-size: $font-size;
    box-sizing: border-box; // padding included in width
}

html, body {
    height: 100%;
}

body {
    padding: 20px;
    font-size: 0; // eliminate space between HTML elements
    color: $blue;
    font-family: sans-serif("DIN Next");
}

h1, h2, h3 {
    margin: 0.5em 0;
    font-family: sans-serif("DIN Next Medium");
    * {
        font: inherit;
    }
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

a {
    color: $blue;
    font-size: 1em;
    &:hover {
        color: $gold;
    }
}

span {
    font-size: 1em;
}

label {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

input {
    width: 200px;
    font-size: $font-size;
    padding-top: 4px;
    padding-left: 4px;
    outline: none;
    box-shadow: 0 0 5px $light-gray;
    border: 1px solid $medium-gray;
    border-radius: 2px;
    &:focus {
        box-shadow: 0 0 5px $gold;
        border-color: $semilight-gray;
    }
    &:disabled {
        background-color: $light-gray;
    }
    &[type=number] {
        width: 75px;
        text-align: center;
    }
    &[type=checkbox] {
        width: initial;
    }
    &[type=file] {
        display: block;
        margin: 5px auto;
        padding: 0;
        box-shadow: none;
        border: 0;
        border-radius: 0;
    }
}

input, textarea {
    color: $blue;
    font-family: sans-serif("DIN Next");
}

select {
    width: 200px;
}

button {
    @include display-button;
}

header {
    position: relative;
    margin-bottom: 20px;
    height: 50px;
    h1 {
        margin: 0;
        font-size: 3em;
        font-weight: bold;
        text-transform: uppercase;
        a {
            text-decoration: none;
            &:hover {
                color: $blue;
            }
        }
    }
    .current-user {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.1em;
        a {
            text-decoration: none;
        }
    }
}

/**** MENUS ****/

.menu {
    @include unselectable;
    z-index: z-index(menu) + 1;
    .menu-tab {
        display: inline-block;
        cursor: default;
        padding: 5px 10px;
        color: $dark-gray;
        z-index: z-index(menu);
        border: 1px solid transparent;
        &:hover {
            background: $light-gray;
        }
        &.active {
            background: $white;
            border: 1px solid rgba($black, 0.2);
            border-bottom: 1px solid $white;
            box-shadow: 0 1px 2px rgba($black, 0.2);
            // block the border/shadow on the bottom
            &:before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 4px;
                background: $white;
            }
        }
    }
}


.controller-menu {
    @include hover-menu;
    padding: 0;
    background: $white;
    ul.menu-group {
        padding: 5px 0;
        border-bottom: 1px solid $light-gray;
    }
    li {
        color: $dark-gray;
        &.disabled {
            color: $semilight-gray;
            cursor: default;
            &:hover, &.active {
                background: $white;
                color: $semilight-gray;
            }
            span.hint {
                color: $semilight-gray;
            }
        }
        &:hover, &.active {
            background: $light-gray;
            color: $dark-gray;
            span.hint {
                color: $medium-gray;
            }
        }
        span.hint {
            color: $medium-gray;
        }
    }
}

.context-menu {
    @include hover-menu;
    z-index: z-index(context-menu);
}

.toolbar {
    @include unselectable;
    z-index: z-index(toolbar);
    padding: 5px 0;
    background: $light-gray;
    background: linear-gradient($light-gray, $semilight-gray);
    border-bottom: 1px solid rgba($medium-gray, 0.5);
    box-shadow: 0 1px 2px rgba($black, 0.2);
    ul.toolbar-group {
        display: inline-block;
        padding: 0 5px;
        &.hide {
            display: none;
        }
        &:not(:first-child) {
            border-left: 1px solid $medium-gray;
        }
        li {
            display: inline-block;
            margin: 0 1px;
            cursor: default;
            vertical-align: middle;
            &.toolbar-item {
                padding: 5px;
                border: 1px solid transparent;
                border-radius: 2px;
                line-height: 0; // firefox heights
                &:hover, &.active, &.focus:hover {
                    border-color: darken($semilight-gray, 10);
                    box-shadow: 0 0 1px rgba($black, 0.2);
                    background: rgba($white, 0.5);
                }
                &.active, &.focus:hover {
                    background: rgba($white, 0.7);
                }
                &.disabled, &.inactive {
                    &:hover:not(.active) {
                        border-color: transparent;
                        box-shadow: none;
                        background: none;
                    }
                    i {
                        color: $medium-gray;
                    }
                }
            }
            i {
                color: $dark-gray;
                cursor: default;
            }
            img {
                max-height: 16px;
            }
        }
    }
}

.tooltip {
    position: absolute;
    background: $black;
    color: $white;
    padding: 5px 7px;
    font-size: 14px;
    z-index: z-index(popup);
    .tooltip-arrow {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border: 5px solid transparent;
        border-top-color: $black;
    }
}

/**** COMPONENTS ****/

.no-scroll {
    overflow: hidden !important;
}

form.post-action {
    display: none;
}

.field {
    margin: 10px 0;
}

ul.messages {
    li {
        &.error {
            color: $red;
        }
    }
}

.chosen-container {
    .chosen-single {
        color: $blue;
    }
    .chosen-results {
        color: $blue;
    }
}

.popup {
    @include vertically-center;
    position: fixed;
    z-index: z-index(popup);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($white, 0.4);
    text-align: center;
    overflow-y: auto;
    padding: 50px 0;
    .popup-box {
        display: inline-block;
        width: 500px;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 10px $dark-gray;
        padding: 20px 30px;
        .buttons {
            margin-top: 20px;
            .cancel {
                @include display-button($red);
            }
        }
    }
}

svg.graph {
    @include unselectable;
    .field {
        .field-background {
            fill: $field-green;
        }
        .field-border {
            stroke: $white;
            fill: none;
        }
        .yardline {
            stroke: $white;
        }
        .yardline-label {
            fill: $white;
        }
        .hash {
            stroke: $white;
            stroke-width: 2px;
        }
        .four-step {
            stroke: $white;
            stroke-dasharray: 5;
        }
    }
    .dots .dot {
        .fslash, .bslash {
            display: none;
            stroke: $uniform-white;
            stroke-width: 2px;
            pointer-events: none;
        }
        .dot-marker {
            fill: $uniform-white;
            stroke: $uniform-white;
            stroke-width: 2px;
        }
        // dot types
        &[class*=" plain"] .dot-marker {
            fill: transparent !important;
        }
        &[class*="-forwardslash"], &[class*="-x"] {
            .fslash {
                display: initial;
            }
        }
        &[class*="-backslash"], &[class*="-x"] {
            .bslash {
                display: initial;
            }
        }
        // orientation
        &.facing-west .dot-marker {
            fill: $uniform-yellow;
            stroke: $uniform-yellow;
        }
        &.facing-north .dot-marker,
        &.facing-south .dot-marker {
            fill: $uniform-blue;
            stroke: $uniform-blue;
        }
        // selected
        &.selected {
            .fslash, .bslash {
                stroke: $highlight-purple;
            }
            .dot-marker {
                fill: $highlight-purple;
                stroke: $highlight-purple;
            }
        }
        // collision
        &.collision {
            .fslash, .bslash {
                stroke: $collision;
            }
            .dot-marker {
                fill: $collision;
                stroke: $collision;
            }
        }
    }
    .dot-labels text {
        fill: $medium-gray;
        pointer-events: none;
    }
}

.handle {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid $gold;
    &.vertical {
        cursor: ns-resize;
    }
    &.horizontal {
        cursor: ew-resize;
    }
    &.nesw {
        cursor: nesw-resize;
    }
    &.nwse {
        cursor: nwse-resize;
    }
}
