@import "partials/vars", "partials/mixins", "partials/fonts";

html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, ul, li, label, form, input, textarea,
header, footer, td, th {
    position: relative;
    color: $blue;
    font-family: sans-serif("DIN Next");
    font-size: $font-size;
    box-sizing: border-box; // padding included in width
}

html, body {
    height: 100%;
}

body {
    padding: 20px;
    &.no-scroll {
        overflow: hidden;
    }
}

h1, h2, h3 {
    margin: 0.5em 0;
    font-family: sans-serif("DIN Next Medium");
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

p {
    &.message {
        font-family: sans-serif("DIN Next Medium");
        &.error {
            color: $red;
        }
    }
}

a {
    color: $blue;
    &:hover {
        color: $gold;
    }
}

label {
    display: inline-block;
    margin-right: 5px;
}

input {
    width: 200px;
    font-size: $font-size;
    padding-top: 4px;
    padding-left: 4px;
    outline: none;
    box-shadow: 0 0 5px $light-gray;
    border: 1px solid $medium-gray;
    border-radius: 2px;
    &:focus {
        box-shadow: 0 0 5px $gold;
        border-color: $semilight-gray;
    }
    &[type=number] {
        width: 75px;
        text-align: center;
    }
}

select {
    width: 200px;
}

button {
    @include display-button;
    &.red-button {
        @include display-button($red);
    }
}

form.post-action {
    display: none;
}

.field {
    margin: 10px 0;
}

header {
    position: relative;
    margin: 20px;
    margin-top: 0;
    height: 50px;
    h1 {
        margin: 0;
        font-size: 3em;
        font-weight: bold;
        text-transform: uppercase;
    }
    .current-user {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.1em;
        a {
            text-decoration: none;
        }
    }
}

.menu {
    @include unselectable;
    z-index: 10;
    li {
        display: inline-block;
        cursor: default;
        span {
            display: inline-block;
            padding: 5px 10px;
            color: $dark-gray;
            z-index: 1;
        }
        &:hover {
            background: $light-gray;
        }
    }
    & > li {
        span {
            border: 1px solid transparent;
        }
    }
    &.active > li {
        &.active {
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
            & > span {
                border: 1px solid $dark-gray;
                border-bottom: 1px solid $white;
            }
            & > .submenu {
                display: block;
            }
        }
        &:hover {
            background: $white;
        }
    }
    .submenu {
        display: none;
        position: absolute;
        left: 0;
        top: 27px;
        padding: 10px 0;
        border: 1px solid $dark-gray;
        background: $white;
        li {
            cursor: pointer;
            width: 100%;
            white-space: nowrap;
            // TODO: style has-submenu
        }
    }
}

.panel {
    z-index: 5;
    padding: 5px;
    li {
        display: inline-block;
        margin-right: 5px;
        i {
            padding: 5px;
            color: $dark-gray;
            cursor: default;
            border: 1px solid transparent;
            &:hover {
                border: 1px solid darken($semilight-gray, 10);
                border-radius: 2px;
                box-shadow: 0 0 1px rgba(0,0,0,0.2);
            }
        }
    }
}

.popup {
    @include vertically-center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.4);
    text-align: center;
    display: none;
    overflow-y: auto;
    padding: 50px 0;
    .popup-box {
        display: none;
        width: 500px;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 10px $dark-gray;
        padding: 20px 30px;
        &.active {
            display: inline-block;
        }
        p {
            margin: 10px 0;
        }
        .buttons {
            margin-top: 20px;
        }
    }
}

svg.graph {
    .field {
        .field-background {
            fill: $field-green;
        }
        .field-border {
            stroke: $white;
            fill: none;
        }
        .yardline {
            stroke: $white;
        }
        .yardline-label {
            fill: $white;
        }
        .hash {
            stroke: $white;
            stroke-width: 2px;
        }
        .four-step {
            stroke: $white;
            stroke-dasharray: 5;
        }
    }
    .dots {
        .dot-marker {
            &.facing-east {
                fill: $uniform-white;
            }
            &.facing-west {
                fill: $uniform-yellow;
            }
            &.facing-north, &.facing-south {
                fill: $uniform-blue;
            }
            &.selected {
                fill: $highlight-purple;
            }
        }
        .dot-label {
            font-size: 8px;
            fill: $medium-gray;
        }
        .selected-circle {
            stroke: $highlight-purple;
            stroke-width: 2px;
            fill: transparent;
        }
    }
}
