@import "partials/vars", "partials/mixins", "partials/functions";

body {
    padding: 0;
    padding-top: 20px;
    min-width: 800px;
    min-height: 750px;
    cursor: default;
    overflow: hidden;
    &.context-default {
        .selection-box {
            position: absolute;
            border: 2px solid rgba($white, 0.8);
            background: rgba($white, 0.2);
        }
    }
}

$editor-header-height: 100px;

.editor-header {
    height: $editor-header-height;
    h1 {
        margin: 0;
        padding-left: 20px;
    }
    .menu {
        margin: 5px 0;
        padding-left: 10px;
    }
    .toolbar {
        padding-left: 10px;
        background: $light-gray;
        background: linear-gradient($light-gray, $semilight-gray);
        border-bottom: 1px solid $semilight-gray;
        box-shadow: 0 1px 2px rgba($black, 0.2);
        li:hover {
            background: lighten($light-gray, 1);
        }
    }
}

$sidebar-width: 200px;
.content {
    @include remove-children-space;
    height: calc(100% - #{$editor-header-height + $header-height + 20px});
    width: 100%;
    font-size: 0;
    .sidebar, .workspace {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        overflow: scroll;
    }
    .sidebar {
        width: $sidebar-width;
        padding: 20px;
        border-right: 3px double $medium-gray;
        .stuntsheet {
            margin-bottom: 10px;
            height: $sidebar-width * 0.6;
            &:last-child {
                margin-bottom: 0;
            }
            &.active {
                svg.preview {
                    border-color: $gold;
                }
            }
            span.label {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 24px;
                font-family: sans-serif("DIN Next Medium");
            }
            svg.preview {
                display: block;
                width: 100%;
                height: 100%;
                border: 1px solid $blue;
            }
        }
    }
    .workspace {
        width: calc(100% - #{$sidebar-width});
        text-align: center;
        .grapher-draw-target {
            width: 100%;
            height: 100%;
            // guarantee big enough for editing; maybe take out after
            // implementing zoom
            min-width: 1250px;
            min-height: 700px;
        }
    }
}

.popup-box {
    &.setup-show {
        label {
            width: 90px;
        }
        .num_dots label {
            width: initial;
        }
    }
}

.panel {
    display: none;
    position: absolute;
    background: $dark-gray;
    z-index: z-index(popup);
    $panel-handle-height: 10px;
    .panel-handle {
        background: $medium-gray;
        background: linear-gradient($semilight-gray, $medium-gray);
        height: $panel-handle-height;
    }
    &.edit-continuity {
        width: 300px;
        background: $light-gray;
        .add-continuity {
            padding: 0 10px;
            margin: 10px 0;
            select {
                width: 100%;
            }
            .chosen-container .chosen-results {
                max-height: 125px;
            }
        }
        .continuities {
            height: 125px;
            padding: 0 10px;
            margin: 10px 0;
            overflow-y: auto;
            .continuity {
                padding: 10px;
                padding-right: 30px;
                background: $light-gold;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
                .info {
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                    & > span {
                        margin-right: 20px;
                    }
                    .panel-continuity-end {
                        display: inline-block;
                        & > span {
                            margin-right: 5px;
                        }
                        select {
                            width: 110px;
                        }
                    }
                }
                i {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    color: $red;
                }
            }
        }
        .dot-types {
            height: 35px;
            padding: 0 10px;
            border-top: 2px solid $black;
            background: $dark-gray;
            li {
                display: inline-block;
                padding: 5px 7px;
                top: -2px;
                background: $medium-gray;
                border: 2px solid $black;
                cursor: pointer;
                &:hover {
                    background: lighten($medium-gray, 5);
                }
                &:not(:last-child) {
                    border-right: none;
                }
                &.active {
                    background: $light-gray;
                    border-top-color: transparent;
                }
                img {
                    height: 14px;
                }
            }
        }
    }
}
