@import "partials/vars", "partials/mixins", "partials/functions";

body {
    padding: 0;
    padding-top: 20px;
    min-width: 800px;
    min-height: 750px;
    cursor: default;
}

$editor-header-height: 95px;

.editor-header {
    height: $editor-header-height;
    h1 {
        margin: 0;
        padding-left: 20px;
    }
    .menu {
        margin: 2px 0;
        padding-left: 10px;
    }
    .toolbar {
        padding-left: 10px;
        .edit-continuity-group .seek {
            @include vertically-center;
            $marker-size: 16px;
            height: $marker-size;
            padding: 0 #{$marker-size/2};
            cursor: pointer;
            .marker {
                position: absolute;
                width: $marker-size;
                height: $marker-size;
                top: 0;
                left: 0;
                border-radius: 50%;
                background: $blue;
            }
            .bar {
                width: 150px;
                height: 3px;
                background: $medium-gray;
            }
        }
        .snap-to {
            margin: 0 5px;
            text-align: center;
            select {
                width: 75px;
            }
        }
        .resnap button {
            font-size: 12px;
            margin: 0;
            padding: 0.6em 1.5em 0.3em;
        }
    }
}

// undo/redo labels
.controller-menu span.label {
    color: $dark-gray;
}

$sidebar-width: 200px;
.content {
    @include remove-children-space;
    height: calc(100% - #{$editor-header-height + $header-height + 20px});
    width: 100%;
    font-size: 0;
    .sidebar, .workspace {
        @include unselectable;
        display: inline-block;
        height: 100%;
        vertical-align: top;
        overflow: auto;
    }
    .sidebar {
        width: $sidebar-width;
        padding: 20px;
        border-right: 3px double $medium-gray;
        .stuntsheet {
            margin-bottom: 10px;
            height: $sidebar-width * 0.6;
            &:last-child {
                margin-bottom: 0;
            }
            &.active {
                .preview {
                    border-color: $gold;
                    box-shadow: 0 0 5px $gold;
                }
            }
            span.label {
                position: absolute;
                top: 5px;
                left: 5px;
                font-size: 24px;
                font-family: sans-serif("DIN Next Medium");
                z-index: z-index(toolbar);
                color: $gold;
                text-shadow: 1px 1px 2px $black;
            }
            .preview {
                display: block;
                width: 100%;
                height: 100%;
                border: 2px solid $blue;
            }
        }
        .reorder-sheet-bar {
            position: absolute;
            height: 2px;
            background: $black;
        }
    }
    .workspace {
        width: calc(100% - #{$sidebar-width});
        .selection-box {
            position: absolute;
            border: 2px solid rgba($white, 0.8);
            background: rgba($white, 0.2);
        }
        &.edit-tools-active {
            cursor: crosshair;
        }
    }
}

.popup-box {
    label {
        width: 90px;
    }
    .field {
        &.numBeats, &.numDots, &.beatsPerStep {
            label {
                width: initial;
            }
        }
        &.beatsPerStep {
            select {
                width: 90px;
            }
            & > input {
                margin-left: 10px;
                width: 50px;
                vertical-align: middle;
                text-align: center;
            }
        }
    }
    &.edit-continuity {
        label {
            width: 125px;
        }
    }
    &.edit-stuntsheet {
        .icons {
            display: inline-block;
            margin-left: 10px;
            vertical-align: middle;
            i {
                cursor: pointer;
                &.move-link {
                    font-size: 0.9em;
                }
                &.clear-link {
                    color: $red;
                }
            }
        }
    }
}

.panel {
    display: none;
    position: absolute;
    background: $dark-gray;
    z-index: z-index(popup);
    box-shadow: 0 0 5px $black;
    $panel-handle-height: 10px;
    .panel-handle {
        background: $medium-gray;
        background: linear-gradient($semilight-gray, $medium-gray);
        height: $panel-handle-height;
    }
}

/** EDIT BACKGROUND CONTEXT **/

body.context-background .workspace .graph {
    .dots {
        opacity: 0.5;
    }
    .dot-labels {
        display: none;
    }
}

.background-image-handles {
    position: absolute;
    cursor: move;
    .handle {
        position: absolute;
        width: 10px;
        height: 10px;
        border: 2px solid $gold;
    }
    .vertical {
        cursor: ns-resize;
    }
    .horizontal {
        cursor: ew-resize;
    }
    .nesw {
        cursor: nesw-resize;
    }
    .nwse {
        cursor: nwse-resize;
    }
}

/** DOT CONTEXT **/

.panel.select-dots {
    $dot-type-size: 24px;
    $li-size: $dot-type-size + 10px;
    $li-margin: 5px;
    ul {
        height: $li-size * 8 + $li-margin * 7;
        margin: 5px;
        display: inline-block;
        vertical-align: top;
        &.dot-types li {
            padding: 5px;
            background: $light-gray;
            font-size: 0;
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: $li-margin;
            }
            img {
                width: $dot-type-size;
            }
        }
        &.dot-labels {
            overflow: scroll;
            margin-left: 0;
            background: $light-gray;
            li {
                @include unselectable;
                padding: 5px 20px;
                text-align: center;
                &.active {
                    background: $blue;
                    color: $light-gray;
                }
            }
        }
    }
}

.edit-tool-path {
    stroke: $gold;
    fill: none;
}

.lasso-path {
    fill: rgba($light-gray, 0.3);
}

/** CONTINUITY CONTEXT **/

.panel.edit-continuity {
    width: 300px;
    background: $light-gray;
    .add-continuity {
        padding: 0 10px;
        margin: 10px 0;
        select {
            width: 100%;
        }
        .chosen-container .chosen-results {
            max-height: 125px;
        }
    }
    .continuities {
        height: 125px;
        padding: 0 10px;
        margin: 10px 0;
        overflow-y: auto;
        .continuity {
            @include vertically-center(false);
            padding: 10px;
            background: $light-gold;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
            .info {
                @include vertically-center(false);
                & > span {
                    width: 50px;
                    margin-right: 5px;
                }
                label {
                    margin-right: 5px;
                }
                input.panel-continuity-duration {
                    width: 50px;
                    margin-right: 5px;
                }
            }
            .actions {
                @include vertically-center-self;
                position: absolute;
                right: 10px;
                i {
                    margin: 0 2px;
                    cursor: pointer;
                    &.delete {
                        color: $red;
                    }
                }
            }
            select {
                -webkit-appearance: none;
                padding: 5px 10px;
                padding-right: 20px;
                width: initial;
                background: $light-gray url(../img/updown.png) no-repeat right;
                background-size: 1.2em;
                color: $blue;
                border: 1px solid $medium-gray;
                border-radius: 3px;
                font-size: 0.8em;
                vertical-align: middle;
                outline: 0;
                cursor: pointer;
            }
        }
    }
    .dot-types {
        @include unselectable;
        height: 35px;
        padding: 0 10px;
        border-top: 2px solid $black;
        background: $dark-gray;
        li {
            display: inline-block;
            padding: 5px 7px;
            top: -2px;
            background: $medium-gray;
            border: 2px solid $black;
            cursor: pointer;
            &:hover {
                background: lighten($medium-gray, 5);
            }
            &:not(:last-child) {
                border-right: none;
            }
            &.active {
                background: $light-gray;
                border-top-color: transparent;
            }
            img {
                height: 14px;
            }
        }
    }
}

.panel-dropdown {
    @include hover-menu;
    z-index: z-index(popup);
    border-radius: 3px;
    li {
        padding: 5px;
        text-align: center;
    }
}
