@import "partials/vars", "partials/mixins", "partials/functions";

body {
    padding: 0;
    padding-top: 20px;
}

header {
    margin: 0 20px;
}

.messages {
    @include hover-messages;
}

$buttons-height: 60px;

.main-buttons {
    padding: 10px 0;
    height: $buttons-height;
    text-align: center;
    box-shadow: 0 2px 1px $medium-gray;
    z-index: z-index(popup);
    button {
        margin: 0;
    }
}

$tabs-width: 200px;
$height-offset: $header-height + $buttons-height + 20px;

.content {
    background: $light-gray;
    height: calc(100% - #{$height-offset});
    padding: 20px 30px;
}

.tabs, .shows {
    @include unselectable;
    display: inline-block;
    vertical-align: top;
    li {
        padding: 15px 20px 10px;
        cursor: pointer;
        &:hover {
            background: $light-gray;
        }
    }
}

.tabs {
    padding-top: 5px;
    width: $tabs-width;
    margin-right: 50px;
    li {
        &.active {
            background: darken($light-gray, 10);
        }
        &:hover:not(.active) {
            background: $semilight-gray;
        }
    }
}

.shows {
    padding: 5px;
    width: calc(100% - #{$tabs-width + 70px});
    height: 100%;
    overflow-y: auto;
    .show-list {
        background: $white;
        box-shadow: 0 0 5px $dark-gray;
        li {
            border-bottom: 1px solid darken($semilight-gray, 10);
            &:hover, &.active {
                color: lighten($blue, 20);
                background: $white;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
