@import "partials/vars", "partials/mixins";

body {
    @include vertically-center;
    text-align: center;
}

.content {
    background: $light-gray;
    padding: 30px 50px;
    h1 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 2em;
        text-transform: uppercase;
    }
    label {
        width: 90px;
    }
    input {
        width: 200px;
    }
    .messages {
        margin-top: 10px;
        color: $red;
    }
}
