@import "partials/vars";

.content {
    label {
        width: 90px;
    }
    input {
        width: 200px;
    }
    p {
        margin-bottom: 5px;
    }
    .login-options {
        .divider {
            margin: 10px 0;
            color: $dark-gray;
            text-transform: uppercase;
            &:before, &:after {
                content: "";
                display: inline-block;
                margin: 0 10px;
                width: 125px;
                border-top: 1px solid $dark-gray;
                vertical-align: middle;
            }
        }
    }
}
