@import "partials/vars";

ul.nav {
    margin: 15px;
    li {
        display: inline-block;
        vertical-align: middle;
        a {
            display: inline-block;
            text-decoration: none;
            vertical-align: middle;
            // push up baseline
            margin-bottom: -3px;
        }
        &:after {
            content: "\73";
            font-family: "icons";
            vertical-align: middle;
        }
        &:first-child a {
            // don't push up home icon
            margin-bottom: 0;
        }
        &:last-child:after {
            content: none;
        }
    }
}

.nav-submenu {
    display: none;
    position: absolute;
    background: $light-gray;
    padding: 5px 0;
    li a {
        display: inline-block;
        text-decoration: none;
        color: $dark-gray;
        padding: 5px 10px;
        width: 100%;
        &:hover {
            color: $dark-gray;
            background: $semilight-gray;
        }
    }
}

.help-content {
    p {
        margin-bottom: 10px;
    }
    ul {
        margin-left: 15px;
        padding-left: 10px;
        list-style: initial;
        li {
            margin-bottom: 5px;
        }
    }
    // make icons stand out a bit more
    i {
        display: inline-block;
        margin: 0 3px;
        padding: 3px;
        background: $light-gray;
        color: $dark-gray;
    }
}
