@import "partials/vars", "partials/mixins", "partials/functions";

$content-width: 700px;

body {
    min-width: $content-width + 40px;
}

.content {
    width: $content-width;
    margin: 0 auto;
    text-align: center;
    .details {
        margin: 10px 0;
        p {
            display: inline-block;
            font-size: 18px;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            select {
                width: 85px;
            }
        }
    }
    .viewer {
        height: $content-width * 0.6;
        .dot {
            cursor: pointer;
        }
    }
    .seek {
        @include vertically-center;
        $marker-size: 16px;
        height: $marker-size;
        margin: 20px 50px;
        padding: 0 #{$marker-size/2};
        cursor: pointer;
        .marker {
            position: absolute;
            width: $marker-size;
            height: $marker-size;
            top: 0;
            left: 0;
            border-radius: 50%;
            background: $blue;
        }
        .bar {
            width: 100%;
            height: 3px;
            background: $medium-gray;
        }
    }
    .controls {
        @include unselectable;
        margin: 20px 0;
        i {
            cursor: pointer;
            font-size: 24px;
            margin: 0 10px;
        }
    }
}

.popup.viewpsheet {
    .sheet {
        .text {
            height: 125px;
            overflow-y: scroll;
            text-align: left;
            margin-bottom: 10px;
            ul {
                display: inline-block;
                vertical-align: top;
                width: 50%;
                &.continuities {
                    padding-right: 10px;
                }
                &.movements {
                    padding-left: 10px;
                }
                li {
                    margin-bottom: 5px;
                }
            }
        }
        .individual-path {
            display: inline-block;
            width: 50%;
            height: 200px;
            path.path-movements {
                stroke: $gold;
                fill: none;
            }
            circle.start-position {
                fill: $highlight-purple;
            }
        }
    }
    .controls {
        margin: 10px 0;
        i {
            margin-right: 20px;
            font-size: 24px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                color: lighten($blue, 10);
            }
        }
    }
    .buttons .close {
        @include display-button($red);
    }
}
