@import "partials/vars", "partials/mixins", "partials/functions";

body {
    min-width: 900px;
    min-height: 500px;
}

.content {
    .buttons {
        text-align: center;
        padding-bottom: 20px;
    }
    .viewpsheet {
        height: calc(100% - 175px);
        overflow-y: auto;
        background: $dark-gray;
        text-align: center;
        padding: 20px;
        border: 1px solid $dark-gray;
        p.no-dots-message {
            @include vertically-center-self;
            display: inline-block;
            background: $white;
            padding: 15px 20px;
            font-size: 1.2em;
        }
        .page {
            background: $white;
            margin-bottom: 20px;
            line {
                stroke: $black;
                &.page-divider {
                    stroke: $medium-gray;
                }
                &.four-step {
                    stroke: $medium-gray;
                    stroke-dasharray: 5;
                }
            }
            path {
                stroke: $black;
                fill: none;
            }
            rect {
                stroke: $black;
                fill: none;
            }
            text {
                &.east-label {
                    text-transform: uppercase;
                }
                &.yardline-label {
                    fill: $medium-gray;
                }
                &.position-info {
                    fill: $dark-gray;
                    font-size: 12px;
                }
            }
        }
    }
}

.popup {
    &.viewpsheet-settings {
        label {
            width: 130px;
        }
    }
}
