{% extends "partials/panel.html" %}
{% load staticfiles %}

{% block content %}
    <div class="add-continuity">
        <select>
            <option></option>
            <optgroup label="Simple">
                <option value="EWNS">EWNS</option>
                <option value="NSEW">NSEW</option>
                <option value="FM">FM: Forward March</option>
                <option value="MT">MT: Mark Time</option>
                <option value="MTRM">MTRM: Mark Time to End</option>
                <option value="DMHS">DMHS</option>
                <option value="HSDM">HSDM</option>
            </optgroup>
            <optgroup label="Flows">
                <option value="FTL">FTL: Follow the Leader</option>
                <option value="CM">CM: Counter March</option>
                <option value="TWO">2 Step</option>
            </optgroup>
        </select>
    </div>
    <div class="continuities"></div>
    <ul class="dot-types" data-path="{% static 'img/dot-DOT_TYPE.png' %}"></ul>
{% endblock %}
