{% extends "partials/panel.html" %}
{% load staticfiles %}

{% block content %}
    <div class="add-continuity">
        <select>
            <option></option>
            <optgroup label="Simple">
                <option value="EWNS">EWNS</option>
                <option value="NSEW">NSEW</option>
                <option value="FM">FM: Forward March</option>
            </optgroup>
            <optgroup label="Stops">
                <option value="MT">MT: Mark Time</option>
                <option value="MTRM">MTRM: Mark Time to End</option>
                <option value="CL">CL: Close</option>
            </optgroup>
            <optgroup label="Off-Grid">
                <option value="EVEN">Even</option>
                <option value="DMHS" disabled>DMHS</option>
                <option value="HSDM" disabled>HSDM</option>
            </optgroup>
            <optgroup label="Flows">
                <option value="FTL" disabled>FTL: Follow the Leader</option>
                <option value="CM" disabled>CM: Counter March</option>
                <option value="TWO" disabled>2 Step</option>
                <option value="GT" disabled>GT: Gate Turn</option>
                <option value="GV" disabled>GV: Grapevine</option>
            </optgroup>
        </select>
    </div>
    <div class="continuities"></div>
    <ul class="dot-types" data-path="{% static 'img/dot-DOT_TYPE.png' %}"></ul>
{% endblock %}
