{% load partials %}

<div class="popup">
<div class="popup-box {{ form.name }}">
    {% block popup_title %}
        <h1>{{ form.title }}</h1>
    {% endblock %}
    <form>
        {% block pre_fields %}{% endblock %}
        {% for field in form %}
            {% create_field field %}
        {% endfor %}
        <div class="buttons">
            {% block buttons %}
                <button class="save">{{ form.save_label }}</button>
                <button class="cancel red-button" type="button">Cancel</button>
            {% endblock %}
        </div>
    </form>
</div>
</div>
